*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* .logo{
    font-size: 45px;
} */
.logo h2{
    /* color: #FD6E0A;
    font-weight: 900; */
    font-size: 45px;

}
.color-orange{
    
    color: orange;
}
.btn{
    background-color:#FD6E0A ;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.section-heading{
    max-width: 827px;
    text-align:center ;
    margin:0 auto ;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/Developer.png"),url("../images/header.png"),#FFF8F3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%px;
    max-width: 1170px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li a{
    text-decoration: none;
}
.menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: #676767;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 #banner .banner-content{
    max-width:585px ;
} 
#banner .banner-content h2{
    font-size: 85px;
    font-weight: 600;
    color: #474747;
    margin-bottom:5px ;
}
#banner .banner-content h1{
    font-size: 45px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size:18px ;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
} 

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;

}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}

.info-card p{
    font-size: 20px;
    /* margin-bottom: 30px; */
    line-height: 40px;
    color: #757575;
} 
.info-card h4{
    font-size: 20px;
}

#skills{
    padding-top: 130px;
}
.skills-container{
    width: 71%;
   max-width: 1140px;
    margin: 0 auto;

}
.skill-box{
    display: flex;
    gap: 24px;
   
} 
 .skill-card{
   padding: 30px; 
   /* border: 1px solid red; */
   box-shadow: 0 6px 50px 0 #00000027;
   max-width: 267px;
} 
.skill-card img{
    max-width:44px ;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

.skill-card p{
     font-size:16px ;
    color: #757575;
    line-height: 28px;
  

} 